*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 1.6rem;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  display: inline-block;
  transition: all 0.2s;
  background-color: #fff;
  position: relative;
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  transform: translateY(1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  background-color: #fff;
}

.btn::after {
  content: "";
  height: 100%;
  width: 100%;
  display: inline-block;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.py-1 {
  padding: 1rem 0; }

.py-2 {
  padding: 2rem 0; }

.py-3 {
  padding: 3rem 0; }

.py-4 {
  padding: 4rem 0; }

.my-1 {
  margin: 1rem 0; }

.my-2 {
  margin: 2rem 0; }

.my-3 {
  margin: 3rem 0; }

.my-4 {
  margin: 4rem 0; }

.header {
  height: 95vh;
  background-image: linear-gradient(to left top, #28b485d0, #7ed56fd0),
    url(../img/nat-9.jpg);
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header .logo {
  height: 4rem;
}
.header__nav {
  float: right;
}
.header__nav ul {
  list-style: none;
  display: flex;
  margin-top: 2rem;
}
.header__nav ul li {
  margin-right: 2rem;
  text-transform: uppercase;
  border-radius: 10rem;
}
.header__nav ul li:hover {
  background-color: #2e864b;
  padding: 0.5rem;
  color: #f7f7f7;
}
.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  text-align: center;
  text-transform: uppercase;
}
.heading-primary-main {
  display: block;
  font-weight: 400;
  font-size: 6rem;
  animation: moveInLeft 1s ease-out;
}
.heading-primary-sub {
  display: block;
  font-weight: 400;
  font-size: 3rem;
  animation: moveInRight 1s ease-out;
  letter-spacing: 0.5rem;
}

.main {
  display: flex;
  text-align: center;
  background: #fff;
  height: 30rem;
}
.main__box:nth-child(odd) {
  background-color: #777;
  color: #fff;
}
.main__box:nth-child(odd) h1 {
  padding: 3rem;
}
.about {
  height: 20vh;
  background-image: linear-gradient(to left top, #28b485d0, #7ed56fd0);
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}
#about-a .about-info {
  display: grid;
  grid-template-areas: "bioimage bio bio" "aw1 aw2 aw3";
  grid-gap: 1.2rem;
}

#about-a .bio-image {
  grid-area: bioimage;
}

#about-a .bio {
  grid-area: bio;
  border-left: 3px solid;
  padding: 0.8rem;
}

#about-a .award-1 {
  grid-area: aw1;
}

#about-a .award-2 {
  grid-area: aw2;
}

#about-a .award-3 {
  grid-area: aw3;
}

#about-a .award-1 .fas,
#about-a .award-2 .fas,
#about-a .award-3 .fas {
  color: #7ed56fd0;
  margin: 1rem;
}

#about-b .progress {
  overflow: hidden;
  height: 20px;
  background: #ccc;
  border-radius: 5px;
  margin-bottom: 0.6rem;
}
#about-b .progress div {
  height: 100%;
  color: #fff;
  text-align: center;
  background: #7ed56fd0;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-2rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    transform: translateX(0);
  }
}
